[Desktop Entry]
Type=Application
Version=2.1.1
Name=BlockMeshAuto
Comment=GUI tool for OpenFOAM blockMesh generation
Path=/usr/lib/blockMeshAuto
Exec=blockMeshAuto
Icon=/usr/lib/blockMeshAuto/BlockMeshLogo.png
Terminal=false
Categories=Science;Engineering;
